/* Fonts: Karla, Nunito, Atkinson Hyperlegible Mono */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Typography Styles */
h1, .h1 {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: oklch(10% 0 0);
}

p, .p {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
.header {
    width: 100vw;
    height: 60px;
    position: absolute;
    background-color: oklch(0 0 0 / 50%);
    border-bottom: 2px solid oklch(0 0 0 / 40%);
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    padding: 10px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-image: url(images/weather-bg.jpg);
    background-size: cover;
}
.search-bar {
    width: min(100vw, 600px);
}
.search-bar fieldset {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 0.5rem;

    border-radius: 1000px;
    background-color: oklch(0% 0 0 / 20%);
    backdrop-filter: blur(5px);
}
.search-bar fieldset * {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
}
.search-bar fieldset input[type="text"] {
    flex: 1;
}
.search-bar fieldset button[type="submit"] {
    height: 100%;
    aspect-ratio: 1;
    border: none;
}
.search-bar button > img {
    width: 18px;
    aspect-ratio: 1;
}